## Project Info

All info and the original dataset can be found on: https://www.kaggle.com/jmmvutu/ecommerce-users-of-a-french-c2c-fashion-store?select=6M-0K-99K.users.dataset.public.csv

### Importing Libraries

In [10]:
import pandas as pd 
pd.set_option('display.max_columns', None)
import pandasql as ps

### loading and checking datasets

In [11]:
df_users = pd.read_csv("6M-0K-99K.users.dataset.public.csv")

In [12]:
df_users.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-1097895247965112460,user,Royaume-Uni,en,147,10,77,26,174,74.0,104,1,M,1,mr,True,False,True,True,11,3196,106.53,8.88,gb
1,2347567364561867620,user,Monaco,en,167,8,2,19,170,99.0,0,0,F,2,mrs,True,False,True,True,12,3204,106.80,8.90,mc
2,6870940546848049750,user,France,fr,137,13,60,33,163,94.0,10,3,F,2,mrs,True,False,True,False,11,3203,106.77,8.90,fr
3,-4640272621319568052,user,Etats-Unis,en,131,10,14,122,152,92.0,7,0,F,2,mrs,True,False,True,False,12,3198,106.60,8.88,us
4,-5175830994878542658,user,Etats-Unis,en,167,8,0,25,125,100.0,0,0,F,2,mrs,False,False,False,True,22,2854,95.13,7.93,us

In [5]:
df_comparison = pd.read_csv("comparison_of_sellers_by_gender_and_country.csv")

In [6]:
df_comparison.head()

,country,sex,nbsellers,meanproductssold,meanproductslisted,meansellerpassrate,totalproductssold,totalproductslisted,meanproductsbought,meanproductswished,meanproductsliked,totalbought,totalwished,totalproductsliked,meanfollowers,meanfollows,percentofappusers,percentofiosusers,meanseniority
0,Allemagne,Female,116,4.03,2.72,27.33,468,315,3.05,34.66,35.28,354,4021,4092,9.5,8.9,54.0,49.0,3060.336207
1,Allemagne,Male,34,2.00,1.00,19.15,68,34,1.62,3.38,31.79,55,115,1081,7.8,8.4,79.0,64.0,3089.058824
2,Arménie,Female,1,0.00,25.00,0.00,0,25,0.00,0.00,1.00,0,0,1,4.0,8.0,NaN,NaN,3201.000000
3,Australie,Female,18,0.94,1.33,10.44,17,24,6.11,17.72,209.28,110,319,3767,7.5,9.3,55.0,55.0,3103.666667
4,Australie,Male,3,6.00,4.00,33.33,18,12,8.00,24.00,38.33,24,72,115,12.7,8.3,66.0,66.0,3085.666667

In [7]:
df_top_sellers = pd.read_csv("countries_with_top_sellers_fashion_c2c.csv")

In [8]:
df_top_sellers.head()

,country,sellers,topsellers,topsellerratio,femalesellersratio,topfemalesellersratio,femalesellers,malesellers,topfemalesellers,topmalesellers,...,topmeanproductssold,topmeanproductslisted,meanproductssold,meanproductslisted,meanofflinedays,topmeanofflinedays,meanfollowers,meanfollowing,topmeanfollowers,topmeanfollowing
0,Taiwan,1,1,100.0,100.0,100.0,1,0,1,0,...,57.00,56.00,57.000000,56.000000,11.0,11.0,83.0,8.0,83.0,8.0
1,Slovaquie,2,1,50.0,0.0,0.0,0,2,0,1,...,27.00,14.00,14.000000,7.000000,17.0,15.0,10.5,8.5,15.0,8.0
2,Lettonie,4,2,50.0,100.0,100.0,4,0,2,0,...,40.50,18.00,20.750000,9.000000,120.3,11.5,21.0,52.3,38.0,98.5
3,Bulgarie,9,4,44.4,66.7,100.0,6,3,4,0,...,36.25,17.25,18.888889,9.111111,98.3,19.0,28.6,31.6,46.3,19.0
4,Chypre,4,1,25.0,100.0,100.0,4,0,1,0,...,41.00,66.00,14.000000,20.250000,17.3,11.0,21.3,10.3,39.0,17.0

In [19]:
ps.sqldf(
    """
    SELECT *
    FROM df_users
    """
    ).head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,productsWished,productsBought,gender,civilityGenderId,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-1097895247965112460,user,Royaume-Uni,en,147,10,77,26,174,74.0,104,1,M,1,mr,1,0,1,1,11,3196,106.53,8.88,gb
1,2347567364561867620,user,Monaco,en,167,8,2,19,170,99.0,0,0,F,2,mrs,1,0,1,1,12,3204,106.80,8.90,mc
2,6870940546848049750,user,France,fr,137,13,60,33,163,94.0,10,3,F,2,mrs,1,0,1,0,11,3203,106.77,8.90,fr
3,-4640272621319568052,user,Etats-Unis,en,131,10,14,122,152,92.0,7,0,F,2,mrs,1,0,1,0,12,3198,106.60,8.88,us
4,-5175830994878542658,user,Etats-Unis,en,167,8,0,25,125,100.0,0,0,F,2,mrs,0,0,0,1,22,2854,95.13,7.93,us

### Are e-commerce users interested in social network feature ?

In [18]:
ps.sqldf(
    """
    SELECT identifierHash, socialNbFollowers AS num_followers, socialNbFollows AS num_follows, productsSold
    FROM df_users
    GROUP BY identifierHash
    ORDER BY productsSold DESC
    """
    ).head()

        identifierHash  num_followers  num_follows  productsSold
0 -1097895247965112460            147           10           174
1  2347567364561867620            167            8           170
2  6870940546848049750            137           13           163
3 -4640272621319568052            131           10           152
4 -5175830994878542658            167            8           125

In [20]:
ps.sqldf(
    """
    SELECT identifierHash, socialNbFollowers AS num_followers, socialNbFollows AS num_follows, productsSold
    FROM df_users
    GROUP BY identifierHash
    ORDER BY num_followers DESC
    """
    ).head()

        identifierHash  num_followers  num_follows  productsSold
0  3718185418791028367            744        13764           104
1  2119852871524485845            353         8268            15
2  4083881020900546640            205         2013             1
3 -9221801386431225948            176           60            81
4  -674375683452639256            172           50            34

In [21]:
ps.sqldf(
    """
    SELECT identifierHash, socialNbFollowers AS num_followers, socialNbFollows AS num_follows, productsSold
    FROM df_users
    GROUP BY identifierHash
    ORDER BY num_follows DESC
    """
    ).head()

        identifierHash  num_followers  num_follows  productsSold
0  3718185418791028367            744        13764           104
1  2119852871524485845            353         8268            15
2  8317887111506061089            107         3649            70
3  4083881020900546640            205         2013             1
4  3275083886092943154            125          500            67

### How likely are people from other countries to sign up in a C2C website ?

### How many users are likely to drop off after years of using my service ?